**Second Independent project**

Using SQL for data analysis and providing recommendations

DATASETS PROVIDED

Population By State.(http://bit.ly/population_by_state)

Grand Electors by State. (http://bit.ly/GrandElectors_by_State)


OBJECTIVE

Identifying states that should be prioritized in order to win the United States General Elections.

STEPS FOLLOWED IN ANALYSIS



1.   Loading of data 
2.   Cleaning of data
3.   Merging of data
4.   Calculate the ratio between grand electors and poulation in descending order
5.   Obtain the running sum of the grand electors in descending order of the ratio
6.   Pick the list of states that have a running sum of 269 +1 grand elctors

Creation of a Pandas Datafarme

In [0]:
import pandas as pd
import csv
# Loading our grandelectors dataset
granddata = pd.read_csv('/content/GrandElectors_by_state.csv')
# loading our population dataset
popdata = pd.read_csv('/content/Population_by_state.csv')

Loading SQL Extension

In [2]:
%load_ext sql
# connection to our memory Sqlite Database that ceases to exist as soon as the database connection is lost
%sql sqlite://

'Connected: @None'

Saving the dataframes into sql tables

In [3]:
# Saving grandelectors dataframe into a database
%sql DROP TABLE if EXISTS grand_electors;
%sql PERSIST granddata;

%sql SELECT * FROM granddata;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 'Alabama', 9),
 (1, 'Alaska', 3),
 (2, 'Arizona', 11),
 (3, 'Arkansas', 6),
 (4, 'California', 55),
 (5, 'Colorado', 9),
 (6, 'Connecticut', 7),
 (7, 'District of Columbia', 3),
 (8, 'Delaware', 3),
 (9, 'Florida', 29),
 (10, 'Georgia', 16),
 (11, 'Hawaii', 4),
 (12, 'Idaho', 4),
 (13, 'Illinois', 20),
 (14, 'Indiana', 11),
 (15, 'Iowa', 6),
 (16, 'Kansas', 6),
 (17, 'Kentucky', 8),
 (18, 'Louisiana', 8),
 (19, 'Maine', 4),
 (20, 'Maryland', 10),
 (21, 'Massachusetts', 11),
 (22, 'Michigan', 16),
 (23, 'Minnesota', 10),
 (24, 'Mississippi', 6),
 (25, 'Missouri', 10),
 (26, 'Montana', 3),
 (27, 'Nebraska', 5),
 (28, 'Nevada', 6),
 (29, 'New Hampshire', 4),
 (30, 'New Jersey', 14),
 (31, 'New Mexico', 5),
 (32, 'New York', 29),
 (33, 'North Carolina', 15),
 (34, 'North Dakota', 3),
 (35, 'Ohio', 18),
 (36, 'Oklahoma', 7),
 (37, 'Oregon', 7),
 (38, 'Pennsylvania', 20),
 (39, 'Rhode Island', 4),
 (40, 'South Carolina', 9),
 (41, 'South Dakota', 3),
 (42, 'Tennessee', 11),
 (43, 'Texas', 38),
 (44, 'Utah', 6),
 (45, 'Vermont', 3),
 (46, 'Virginia', 13),
 (47, 'Washington', 12),
 (48, 'West Virginia', 5),
 (49, 'Wisconsin', 10),
 (50, 'Wyoming', 3)]

In [4]:
# Saving grandelectors dataframe into a database
%sql DROP TABLE if EXISTS popdata;
%sql PERSIST popdata;

%sql SELECT * FROM popdata;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 'CALIFORNIA', 39144818),
 (1, 'TEXAS', 27469114),
 (2, 'FLORIDA', 20271272),
 (3, 'NEW YORK', 19795791),
 (4, 'ILLINOIS', 12859995),
 (5, 'PENNSYLVANIA', 12802503),
 (6, 'OHIO', 11613423),
 (7, 'GEORGIA', 10214860),
 (8, 'NORTH CAROLINA', 10042802),
 (9, 'MICHIGAN', 9922576),
 (10, 'NEW JERSEY', 8958013),
 (11, 'VIRGINIA', 8382993),
 (12, 'WASHINGTON', 7170351),
 (13, 'ARIZONA', 6828065),
 (14, 'MASSACHUSETTS', 6794422),
 (15, 'INDIANA', 6619680),
 (16, 'TENNESSEE', 6600299),
 (17, 'MISSOURI', 6083672),
 (18, 'MARYLAND', 6006401),
 (19, 'WISCONSIN', 5771337),
 (20, 'MINNESOTA', 5489594),
 (21, 'COLORADO', 5456574),
 (22, 'SOUTH CAROLINA', 4896146),
 (23, 'ALABAMA', 4858979),
 (24, 'LOUISIANA', 4670724),
 (25, 'KENTUCKY', 4425092),
 (26, 'OREGON', 4028977),
 (27, 'OKLAHOMA', 3911338),
 (28, 'CONNECTICUT', 3590886),
 (29, 'PUERTO RICO', 3474182),
 (30, 'IOWA', 3123899),
 (31, 'UTAH', 2995919),
 (32, 'MISSISSIPPI', 2992333),
 (33, 'ARKANSAS', 2978204),
 (34, 'KANSAS', 2911641),
 (35, 'NEVADA', 2890845),
 (36, 'NEW MEXICO', 2085109),
 (37, 'NEBRASKA', 1896190),
 (38, 'WEST VIRGINIA', 1844128),
 (39, 'IDAHO', 1654930),
 (40, 'HAWAII', 1431603),
 (41, 'NEW HAMPSHIRE', 1330608),
 (42, 'MAINE', 1329328),
 (43, 'RHODE ISLAND', 1056298),
 (44, 'MONTANA', 1032949),
 (45, 'DELAWARE', 945934),
 (46, 'SOUTH DAKOTA', 858469),
 (47, 'NORTH DAKOTA', 756927),
 (48, 'ALASKA', 738432),
 (49, 'DISTRICT OF COLUMBIA', 672228),
 (50, 'VERMONT', 626042),
 (51, 'WYOMING', 586107),
 (52, 'GUAM', 161785),
 (53, 'U.S. VIRGIN ISLANDS', 103574),
 (54, 'AMERICAN SAMOA', 54343),
 (55, 'NORTHERN MARIANA ISLANDS', 52344)]

In [5]:
# changes the to uppercase permanently
%%sql
UPDATE 
  granddata
SET
  state = UPPER(state)

 * sqlite://
51 rows affected.

[]

Merging the datasets

In [6]:
# joining the tables
%%sql
CREATE VIEW merged AS
SELECT replace(popdata.State, 'DISTRICT OF COLUMBIA', 'D.C') as State, Population,granddata.GrandElectors
FROM popdata INNER JOIN granddata
    ON popdata.state = granddata.state

 * sqlite://
Done.

[]

In [7]:
# Display the merged table
%%sql
SELECT * from merged;

 * sqlite://
Done.

[('CALIFORNIA', 39144818, 55),
 ('TEXAS', 27469114, 38),
 ('FLORIDA', 20271272, 29),
 ('NEW YORK', 19795791, 29),
 ('ILLINOIS', 12859995, 20),
 ('PENNSYLVANIA', 12802503, 20),
 ('OHIO', 11613423, 18),
 ('GEORGIA', 10214860, 16),
 ('NORTH CAROLINA', 10042802, 15),
 ('MICHIGAN', 9922576, 16),
 ('NEW JERSEY', 8958013, 14),
 ('VIRGINIA', 8382993, 13),
 ('WASHINGTON', 7170351, 12),
 ('ARIZONA', 6828065, 11),
 ('MASSACHUSETTS', 6794422, 11),
 ('INDIANA', 6619680, 11),
 ('TENNESSEE', 6600299, 11),
 ('MISSOURI', 6083672, 10),
 ('MARYLAND', 6006401, 10),
 ('WISCONSIN', 5771337, 10),
 ('MINNESOTA', 5489594, 10),
 ('COLORADO', 5456574, 9),
 ('SOUTH CAROLINA', 4896146, 9),
 ('ALABAMA', 4858979, 9),
 ('LOUISIANA', 4670724, 8),
 ('KENTUCKY', 4425092, 8),
 ('OREGON', 4028977, 7),
 ('OKLAHOMA', 3911338, 7),
 ('CONNECTICUT', 3590886, 7),
 ('IOWA', 3123899, 6),
 ('UTAH', 2995919, 6),
 ('MISSISSIPPI', 2992333, 6),
 ('ARKANSAS', 2978204, 6),
 ('KANSAS', 2911641, 6),
 ('NEVADA', 2890845, 6),
 ('NEW MEXICO', 2085109, 5),
 ('NEBRASKA', 1896190, 5),
 ('WEST VIRGINIA', 1844128, 5),
 ('IDAHO', 1654930, 4),
 ('HAWAII', 1431603, 4),
 ('NEW HAMPSHIRE', 1330608, 4),
 ('MAINE', 1329328, 4),
 ('RHODE ISLAND', 1056298, 4),
 ('MONTANA', 1032949, 3),
 ('DELAWARE', 945934, 3),
 ('SOUTH DAKOTA', 858469, 3),
 ('NORTH DAKOTA', 756927, 3),
 ('ALASKA', 738432, 3),
 ('D.C', 672228, 3),
 ('VERMONT', 626042, 3),
 ('WYOMING', 586107, 3)]

Ratio calculation

In [8]:
# Adding column called ratio
%%sql
CREATE VIEW 
Ratios
AS
SELECT State, Population, GrandElectors, (GrandElectors *1.0/Population * 1.0) as Ratio 
from merged
ORDER BY Ratio DESC;

 * sqlite://
Done.

[]

Finding the running sum of the grand electors

In [9]:
# Calculating running sum for the grand electors
%%sql 
CREATE VIEW 
RUNNING_SUM
AS
SELECT t1.*, sum(t2.GrandELectors) as RunningSum
from Ratios t1
INNER JOIN Ratios t2 on t1.Ratio <= t2.Ratio
GROUP BY t1.State
ORDER BY t1.Ratio ASC;

 * sqlite://
Done.

[]

In [10]:
# Display the table with the running sum
%%sql
SELECT * from RUNNING_SUM;

 * sqlite://
Done.

[('TEXAS', 27469114, 38, 1.3833718845099992e-06, 538),
 ('CALIFORNIA', 39144818, 55, 1.4050391037710278e-06, 500),
 ('FLORIDA', 20271272, 29, 1.4305959685213637e-06, 445),
 ('NEW YORK', 19795791, 29, 1.4649578791774474e-06, 416),
 ('NORTH CAROLINA', 10042802, 15, 1.4936070630487388e-06, 387),
 ('OHIO', 11613423, 18, 1.5499306276883225e-06, 372),
 ('VIRGINIA', 8382993, 13, 1.5507587803067473e-06, 354),
 ('ILLINOIS', 12859995, 20, 1.5552105580134362e-06, 341),
 ('PENNSYLVANIA', 12802503, 20, 1.562194517743913e-06, 321),
 ('NEW JERSEY', 8958013, 14, 1.562846582160575e-06, 301),
 ('GEORGIA', 10214860, 16, 1.566345500574653e-06, 287),
 ('ARIZONA', 6828065, 11, 1.610998137832607e-06, 271),
 ('MICHIGAN', 9922576, 16, 1.6124844999927438e-06, 260),
 ('MASSACHUSETTS', 6794422, 11, 1.6189750945702225e-06, 244),
 ('MISSOURI', 6083672, 10, 1.6437441071773757e-06, 233),
 ('COLORADO', 5456574, 9, 1.6493865931260165e-06, 223),
 ('INDIANA', 6619680, 11, 1.6617117443743504e-06, 214),
 ('MARYLAND', 6006401, 10, 1.6648905059785385e-06, 203),
 ('TENNESSEE', 6600299, 11, 1.6665911650366142e-06, 193),
 ('WASHINGTON', 7170351, 12, 1.673558240035948e-06, 182),
 ('LOUISIANA', 4670724, 8, 1.712796560019389e-06, 170),
 ('WISCONSIN', 5771337, 10, 1.7327007589402595e-06, 162),
 ('OREGON', 4028977, 7, 1.7374137405103083e-06, 152),
 ('OKLAHOMA', 3911338, 7, 1.7896689061390246e-06, 145),
 ('KENTUCKY', 4425092, 8, 1.8078720171241637e-06, 138),
 ('MINNESOTA', 5489594, 10, 1.8216283389992047e-06, 130),
 ('SOUTH CAROLINA', 4896146, 9, 1.8381804790951905e-06, 120),
 ('ALABAMA', 4858979, 9, 1.8522409749043987e-06, 111),
 ('IOWA', 3123899, 6, 1.9206766928124116e-06, 102),
 ('CONNECTICUT', 3590886, 7, 1.949379623858847e-06, 96),
 ('UTAH', 2995919, 6, 2.0027243727216926e-06, 89),
 ('MISSISSIPPI', 2992333, 6, 2.00512442966742e-06, 83),
 ('ARKANSAS', 2978204, 6, 2.0146370094190997e-06, 77),
 ('KANSAS', 2911641, 6, 2.0606936088618066e-06, 71),
 ('NEVADA', 2890845, 6, 2.0755177119492743e-06, 65),
 ('NEW MEXICO', 2085109, 5, 2.3979561739937817e-06, 59),
 ('IDAHO', 1654930, 4, 2.417020659484087e-06, 54),
 ('NEBRASKA', 1896190, 5, 2.636866558730929e-06, 50),
 ('WEST VIRGINIA', 1844128, 5, 2.7113085425740512e-06, 45),
 ('HAWAII', 1431603, 4, 2.794070702562093e-06, 40),
 ('MONTANA', 1032949, 3, 2.904306020916812e-06, 36),
 ('NEW HAMPSHIRE', 1330608, 4, 3.0061445594795764e-06, 33),
 ('MAINE', 1329328, 4, 3.009039153617467e-06, 29),
 ('DELAWARE', 945934, 3, 3.1714686225466047e-06, 25),
 ('SOUTH DAKOTA', 858469, 3, 3.4945932817609025e-06, 22),
 ('RHODE ISLAND', 1056298, 4, 3.7868101615263876e-06, 19),
 ('NORTH DAKOTA', 756927, 3, 3.963394092164766e-06, 15),
 ('ALASKA', 738432, 3, 4.0626625065002604e-06, 12),
 ('D.C', 672228, 3, 4.462771559649405e-06, 9),
 ('VERMONT', 626042, 3, 4.792010759661493e-06, 6),
 ('WYOMING', 586107, 3, 5.118519314732634e-06, 3)]

In [14]:
# Filter out the states that have a running sum of 269 +1 
%%sql 
SELECT RUNNING_SUM.State from RUNNING_SUM 
WHERE RunningSum <= 271
ORDER BY RUNNING_SUM.Ratio DESC;

 * sqlite://
Done.

[('WYOMING',),
 ('VERMONT',),
 ('D.C',),
 ('ALASKA',),
 ('NORTH DAKOTA',),
 ('RHODE ISLAND',),
 ('SOUTH DAKOTA',),
 ('DELAWARE',),
 ('MAINE',),
 ('NEW HAMPSHIRE',),
 ('MONTANA',),
 ('HAWAII',),
 ('WEST VIRGINIA',),
 ('NEBRASKA',),
 ('IDAHO',),
 ('NEW MEXICO',),
 ('NEVADA',),
 ('KANSAS',),
 ('ARKANSAS',),
 ('MISSISSIPPI',),
 ('UTAH',),
 ('CONNECTICUT',),
 ('IOWA',),
 ('ALABAMA',),
 ('SOUTH CAROLINA',),
 ('MINNESOTA',),
 ('KENTUCKY',),
 ('OKLAHOMA',),
 ('OREGON',),
 ('WISCONSIN',),
 ('LOUISIANA',),
 ('WASHINGTON',),
 ('TENNESSEE',),
 ('MARYLAND',),
 ('INDIANA',),
 ('COLORADO',),
 ('MISSOURI',),
 ('MASSACHUSETTS',),
 ('MICHIGAN',),
 ('ARIZONA',)]

RECOMMENDATION

After my analysis my recommendation is that the aspiring candidates should target the cities listed above. The reason behind this is because the running sum of their grand electors total is more than half of the total grand electors in the country. This would greatly increase the chance of the candidate winning the election and also return the investments of their campaign.